#imgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0 0;
    min-height: 200px;
    align-items: center;
height: calc(100vh - 50px);
}
body {
background-color: gray;
color: orange;
}