#imgcontainer img {
    max-width: calc(min(100vh, 100vw) - 4em);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #191919;
    color: #eee;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
}

small {
    border-bottom: solid 2px #4169e1;
    border-radius: 3px;
}